{% extends 'includes/base.html' %}
{% block body %}
<div class="container mt-3">
  <div class="row kard">
    <div class="col-12">
      <div class=" card text-bg-dark mb-4 mt-3">
       
          <p class="card-text"> <i class="fa-solid fa-house"></i><small> &nbsp; Anasayfa</small></p>
          <div class="card-img-overlay ">
              <img src="" alt="">
          </div>
          <h1 class="card-title text-white"><strong>Name Sebapden Python</strong></h1>
          <p class="card-text">Python 90-njy yyllaryň başlarynda <b>Guido Van Rossum</b> tarapyndan geliştirilendir.
            Python programlama dili sada ögrenmesi ansat içinde köp kanuny, gürleşme menzeyan bir dildir. 
            Python bilen Wep Sahypalary, Yapay Zeka programlary, Makine Öğrenme, Veri İşleme we bulara menzeyan gaty kan bölümlerde 
            işlap bilersiniz. 
           Desteklendiği platformlar oldukça fazladır. Unix, Linux, Mac, Windows, Amiga, Symbian gibi birçok işletim sistemiyle uyumludur. Python oldukça genel bir programlama dilidir. Kullanım alanlarının genişliği de tercih edilmesinde etkili olmaktadır. Python, mühendislikten finansa kadar birçok alanda kullanılmaktadır. Python programlama dilinin kullanım alanları aşağıdaki gibidir:

- Web Uygulamaları Geliştirme
- Python bilimsel ve numerik hesaplamalarda çokça kullanılır.
- Yapay zekâ uygulamalarında
- Nesnelerin İnterneti
- Veri Madenciliği (Data Mining) Uygulamaları
- Görselleştirme uygulamaları
- Masaüstü uygulamaları vb. yönelik geliştirmeler yapılabilir.

Teknolojide öne çıkan bazı önemli şirketlerin Python tercih etmesi dilin popülerliğini arttırmıştır. Wikipedia, Yahoo, CERN, NASA, Google, Reddit, YouTube, BitTorrent Python dilini kullanan şirketlerdir.

Kullanıcıya sağladığı avantajlardan bazıları şunlardır:

- Python, sahip olduğu geniş kütüphane sayesinde oldukça popüler hale gelmiş ve kullanım alanlarını da oldukça fazla olması yaygın bir kullanıcı kitlesine ulaşmasını sağlamıştır.
          </p>
          
          <p class="card-text"><small>Last updated 3 mins ago</small><button class="buton">Dogamyny oka...</button></p>
      </div>
    </div>

      <div class="col-8">
          <div class=" card text-bg-dark mb-2 mt-2 ">
              <div class="card-img-overlay ">
                  <img src="" alt="">
              </div>
              <h1 class="card-title text-white">Döwrebap Teknologiyalar Barada Maglumatlar</h1>
                  <p class="card-text">Öndebaryjy teknologiyalar barada maglumatlary okamak, Programlama dilleri öğrenmek üçün dogry yerdesiniz.</p>
                  <p class="card-text"><small>Last updated 3 mins ago</small> <button class="buton">Dogamyny oka...</button></p>
          </div>
      </div>
      <div class="col-4">
          <div class="card mb-3 mb-2 mt-2" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                 
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                  </div>
                </div>
              </div>
            </div>

      </div>
  

  
      <div class="col-8">
          <div class=" card text-bg-dark ">
              <div class="card-img-overlay ">
                  <img src="" alt="">
              </div>
              <h1 class="card-title text-white">Döwrebap Teknologiyalar Barada Maglumatlar</h1>
                  <p class="card-text">Öndebaryjy teknologiyalar barada maglumatlary okamak, Programlama dilleri öğrenmek üçün dogry yerdesiniz.</p>
                  <p class="card-text"><small>Last updated 3 mins ago</small> <button class="buton">Dogamyny oka...</button></p>
          </div>
      </div>
      <div class="col-4">
          <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                 
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                  </div>
                </div>
              </div>
            </div>

      </div>
</div>
  
</div>
{% endblock body %}