
.body{
    background-color: rgb(60, 59, 59);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background-image: url('resim/bgresim.jpg');
    background-repeat: 2;
    background-attachment: fixed;
    background-size: cover;
}
.nav-link:hover{
    background-color: rgb(229, 149, 21);
    border-radius: 4px;
}
.kard{
    background-color: black;
    border-radius: 1%;
}

.buton{
    background-color:rgb(229, 149, 21);
    border-radius: 8px;
    float: right;
    margin-right:  10px;
    margin-bottom: 10px;
    padding: 4px 4px 6px 6px;
}

/* The alert message box */
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
  }
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }
  
  .alert.success {background-color: #04AA6D;}

  .dropdown-item:hover {
    background-color: rgb(229, 149, 21);
  }